* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  background-color: #9e0074;
}

.img-navbar {
  height: 75px;
}

#carouselExampleAutoplaying img {
  height: 900px;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

/* IMAGENES ALAS */
.mauro {
  width: 60px;
  height: 40px;
  object-fit: cover;
}

.duko-img {
  width: 60px;
  height: 40px;
  object-fit: cover;
}

/* REDES SOCIALES Y TEXTO */
.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: start;
  gap: 10px;
  margin-top: 10px;
  padding: 5px;
  object-fit: cover;
}
.footer-list img {
  object-fit: cover;
}

footer p {
  color: #eee;
  text-align: center;
  font-size: 16px;
  padding-bottom: 20px;
}

main {
  color: #9e0074;
}

.flex-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #9e0074;
}
.flex-index img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-index h1 {
  color: #eee;
  text-align: center;
  padding: 10px;
  font-size: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex-index h2 {
  color: #eee;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.flex-index p {
  color: #eee;
  text-align: justify;
  font-size: 18px;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sec-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #eee;
  padding: 40px;
}
.sec-contacto h1 {
  font-size: 30px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sec-contacto p {
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 30px;
  text-align: justify;
}

.form-register {
  width: 300px;
  background-color: #000000;
  padding: 30px;
  margin: auto;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eee;
}
.form-register .form {
  width: 100%;
  background-color: #fcfcfc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  color: black;
}
.form-register .boton {
  width: 100%;
  background-color: #f3f3f3;
  border: none;
  padding: 10px;
  color: black;
  margin: 16px 0;
  font-size: 15px;
}
.form-register .boton:hover {
  background-color: transparent;
  border: 2px solid rgb(70, 31, 70);
  color: #eee;
}

.discografia {
  text-align: center;
  color: #eee;
  padding: 10px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.inicio-disco {
  color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.inicio-disco h2 {
  font-size: 25px;
}
.inicio-disco h3 {
  font-size: 23px;
}
.inicio-disco p {
  font-size: 16px;
}

.discos {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-rows: auto;
  grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6";
  justify-content: center;
  align-items: center;
  color: #eee;
  text-align: center;
  gap: 10px;
}
.discos .d1 {
  grid-area: area1;
}
.discos .d2 {
  grid-area: area2;
}
.discos .d3 {
  grid-area: area3;
}
.discos .d4 {
  grid-area: area4;
}
.discos .d5 {
  grid-area: area5;
}
.discos .d6 {
  grid-area: area6;
}

.h1-galeria {
  text-align: center;
  color: #eee;
  padding: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.h2-galeria {
  background-color: black;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #eee;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: auto;
  grid-template-areas: "area1" "area2" "area3" "area4" "area5" "area6";
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px;
}
.grilla img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.grilla .c1 {
  grid-area: area1;
}
.grilla .c2 {
  grid-area: area2;
}
.grilla .c3 {
  grid-area: area3;
}
.grilla .c4 {
  grid-area: area4;
}
.grilla .c5 {
  grid-area: area5;
}
.grilla .c6 {
  grid-area: area6;
}

.div-h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.grilla2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.grilla2 h3 {
  font-size: 16px;
  color: #eee;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grilla2 iframe {
  width: 300px;
}

.grilla3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.grilla3 h3 {
  font-size: 18px;
  color: #eee;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  width: 300px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.grilla3 iframe {
  width: 300px;
}

@media screen and (min-width: 480px) {
  .flex-index {
    flex-direction: column;
  }
  .flex-index img {
    width: 100%;
  }
  .flex-index h1 {
    font-size: 40px;
  }
  .flex-index h2 {
    font-size: 35px;
  }
  .flex-index p {
    font-size: 16px;
  }
}
@media screen and (min-width: 600px) {
  .flex-index {
    flex-direction: row;
    align-items: start;
  }
  .flex-index img {
    width: 100px;
    height: 1800px;
  }
  .flex-index h1 {
    font-size: 40px;
  }
  .flex-index h2 {
    font-size: 25px;
  }
  .flex-index p {
    font-size: 18px;
  }
}
@media screen and (min-width: 760px) {
  .flex-index {
    flex-direction: row;
  }
  .flex-index img {
    width: 150px;
    height: 1600px;
  }
  .flex-index h1 {
    font-size: 40px;
  }
  .flex-index h2 {
    font-size: 30px;
  }
  .flex-index p {
    font-size: 20px;
  }
}
@media screen and (min-width: 860px) {
  .flex-index {
    flex-direction: row;
  }
  .flex-index h1 {
    font-size: 40px;
  }
  .flex-index h2 {
    font-size: 30px;
  }
  .flex-index img {
    width: 200px;
    height: 1600px;
  }
}
@media screen and (min-width: 1024px) {
  .flex-index {
    flex-direction: row;
  }
  .flex-index h1 {
    font-size: 40px;
  }
  .flex-index h2 {
    font-size: 30px;
  }
  .flex-index img {
    width: 250px;
    height: 1500px;
  }
}
@media screen and (min-width: 1200px) {
  .flex-index {
    flex-direction: row;
  }
  .flex-index img {
    width: 300px;
    height: 1700px;
  }
  .flex-index h1 {
    font-size: 45px;
  }
  .flex-index h2 {
    font-size: 40px;
  }
  .flex-index p {
    font-size: 20px;
  }
}
@media screen and (min-width: 600px) {
  .discografia {
    font-size: 35px;
  }
  .inicio-disco h2 {
    font-size: 30px;
  }
  .inicio-disco h3 {
    font-size: 25px;
  }
  .inicio-disco p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .inicio-disco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }
  .inicio-disco h2 {
    font-size: 25px;
    padding: 10px;
  }
  .inicio-disco h3 {
    font-size: 23px;
  }
  .inicio-disco p {
    font-size: 18px;
  }
  .discos {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6";
    gap: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .discografia {
    font-size: 40px;
  }
  .inicio-disco {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    gap: 20px;
  }
  .inicio-disco h2 {
    font-size: 30px;
  }
  .inicio-disco h3 {
    font-size: 25px;
  }
  .inicio-disco p {
    font-size: 20px;
  }
  .discos {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-template-areas: "area1 area2 area3" "area4 area5 area6";
    gap: 15px;
  }
}
@media screen and (min-width: 600px) {
  .text-tour {
    text-align: center;
    color: #eee;
  }
  .text-tour img {
    width: 100%;
    height: 500px;
    object-fit: cover;
  }
  .text-tour h1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
  }
  .text-tour h2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 10px;
  }
  .eeuu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .eeuu h3 {
    color: #eee;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    border-radius: 50px;
    width: 220px;
  }
  .eeuu h4 {
    color: #eee;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
  }
  .eeuu a {
    display: block;
    font-weight: 400;
    font-size: 16px;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    color: #eee;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .eeuu a:hover {
    background-color: transparent;
    border: 2px solid #ff00aa;
    color: #eee;
  }
}
@media screen and (min-width: 480px) {
  .h2-galeria {
    width: 300px;
  }
  .grilla {
    grid-template-columns: repeat(1, 400px);
  }
  .grilla2 h3 {
    font-size: 18px;
    width: 400px;
  }
  .grilla2 iframe {
    width: 400px;
  }
  .grilla3 h3 {
    font-size: 18px;
    width: 400px;
  }
  .grilla3 iframe {
    width: 400px;
  }
}
@media screen and (min-width: 600px) {
  .h1-galeria {
    font-size: 40px;
  }
  .h2-galeria {
    width: 520px;
    font-size: 23px;
  }
  .grilla {
    grid-template-columns: repeat(2, 280px);
    grid-template-areas: "area1 area2" "area3 area4" "area5 area6";
    gap: 10px;
  }
  .grilla2 h3 {
    font-size: 24px;
    width: 500px;
  }
  .grilla2 iframe {
    width: 500px;
  }
  .grilla3 h3 {
    font-size: 24px;
    width: 500px;
  }
  .grilla3 iframe {
    width: 500px;
  }
}
@media screen and (min-width: 760px) {
  .grilla {
    grid-template-columns: repeat(2, 350px);
    gap: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .h1-galeria {
    font-size: 45px;
  }
  .h2-galeria {
    width: 520px;
    font-size: 23px;
  }
  .grilla {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    gap: 10px;
  }
  .grilla2 h3 {
    font-size: 26px;
    width: 600px;
  }
  .grilla2 iframe {
    width: 600px;
  }
  .grilla3 h3 {
    font-size: 26px;
    width: 600px;
  }
  .grilla3 iframe {
    width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .h1-galeria {
    font-size: 40px;
  }
  .h2-galeria {
    width: 520px;
    font-size: 23px;
  }
  .grilla {
    grid-template-columns: repeat(3, 350px);
    grid-template-areas: "area1 area2 area3" "area4 area5 area6";
  }
  .grilla2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .grilla2 h3 {
    font-size: 24px;
    width: 350px;
  }
  .grilla2 iframe {
    width: 350px;
  }
  .grilla3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  .grilla3 h3 {
    font-size: 24px;
    color: #eee;
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 350px;
  }
  .grilla3 iframe {
    width: 350px;
  }
}
@media screen and (min-width: 600px) {
  .sec-contacto h1 {
    font-size: 35px;
  }
  .sec-contacto p {
    font-size: 22px;
  }
  .form-register {
    width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .sec-contacto h1 {
    font-size: 36px;
  }
  .sec-contacto p {
    font-size: 23px;
  }
  .form-register {
    width: 700px;
  }
}
@media screen and (min-width: 1200px) {
  .sec-contacto h1 {
    font-size: 36px;
  }
  .sec-contacto p {
    font-size: 25px;
  }
  .form-register {
    width: 900px;
  }
}
.text-tour {
  text-align: center;
  color: #eee;
}
.text-tour img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.text-tour h1 {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 10px;
}
.text-tour h2 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 10px;
}

.eeuu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.eeuu h3 {
  color: #eee;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: black;
  border-radius: 50px;
  width: 220px;
}
.eeuu h4 {
  color: #eee;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
.eeuu a {
  display: block;
  font-weight: 400;
  font-size: 16px;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  color: #eee;
  background-color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.eeuu a:hover {
  background-color: transparent;
  border: 2px solid #ff00aa;
  color: #eee;
}

/*# sourceMappingURL=style.css.map */
