// TEXTO CONTACTO
.sec-contacto {
    @include flex-index(column, center, center, 10px);
    color: $color-text;
    padding: 40px;

    h1{
        font-size: 30px;
        text-align: center;    
        font-family: $text;
    }

    p {
        font-size: 18px;
        font-family: $text;
        margin: 30px;
        text-align: justify;
    }
}


// FORMULARIO
.form-register {
    width: 300px;
    background-color: #000000;
    padding: 30px;
    margin: auto;
    border-radius: 5px;
    font-family: $text;
    color: $color-text;

    .form {
        width: 100%;
        background-color: #fcfcfc;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 15px;
        font-family: $text;
        font-size: 15px;
        color: black;
    }

    .boton {
        width: 100%;
        background-color: #f3f3f3;
        border: none;
        padding: 10px;
        color: black;
        margin: 16px 0;
        font-size: 15px;
    }

    .boton:hover {
        background-color: transparent;
        border: 2px solid rgb(70, 31, 70);
        color: $color-text;
    }

}