.discografia {
    text-align: center;
    color: $color-text;
    padding: 10px;
    font-size: 30px;
    font-family: $text;
}

.inicio-disco {
    color: $color-text;
    @include flex-index(column, center, center, 10px);
    text-align: center;
    font-family: $text;

    h2{
        font-size: 25px;
    
    }

    h3{
        font-size: 23px;
    }

    p{
        font-size: 16px;
    }
}

.discos {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
    grid-template-areas:
        'area1'
        'area2'
        'area3'
        'area4'
        'area5'
        'area6';
    justify-content: center;
    align-items: center;
    color: $color-text;
    text-align: center;
    gap: 10px;

    .d1 {
        grid-area: area1;
    }

    .d2 {
        grid-area: area2;
    }

    .d3 {
        grid-area: area3;
    }

    .d4 {
        grid-area: area4;
    }

    .d5 {
        grid-area: area5;
    }

    .d6 {
        grid-area: area6;
    }

}