.h1-galeria {
    text-align: center;
    color: $color-text;
    padding: 10px;
    font-family: $text;
}

.h2-galeria {
    background-color: black;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    color: $color-text;
    font-family: $text;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: auto;
    grid-template-areas:
        'area1'
        'area2'
        'area3'
        'area4'
        'area5'
        'area6'
    ;

    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 15px;

    img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    .c1 {
        grid-area: area1;
    }

    .c2 {
        grid-area: area2;
    }

    .c3 {
        grid-area: area3;
    }

    .c4 {
        grid-area: area4;
    }

    .c5 {
        grid-area: area5;
    }

    .c6 {
        grid-area: area6;
    }
}

.div-h2 {
    @include flex-index(row, center, center, 10px);
}

.grilla2 {
    @include flex-index(column, center, center, 10px);
    padding: 10px;

    h3 {
        font-size: 16px;
        color: $color-text;
        text-align: center;
        background-color: black;
        border-radius: 10px;
        width: 300px;
        font-family: $text;
    }

    iframe {
        width: 300px;
    }
}

.grilla3 {
    @include flex-index(column, center, center, 10px);
    padding: 10px;


    h3 {
        font-size: 18px;
        color: $color-text;
        text-align: center;
        background-color: black;
        border-radius: 10px;
        width: 300px;
        font-family: $text;
    }

    iframe {
        width: 300px;
    }
}