main {
    color: $color-mian;
}

.flex-index {
    @include flex-index(column, center, center, 10px);
    background-color: $color-mian;


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1{
        color: $color-text;
        text-align: center;
        padding: 10px;
        font-size: 40px;
        font-family: $text;
    }

    h2{
        color: $color-text;
        text-align: center;
        font-size: 30px;
        font-family: $text;
    }

    p{
        color: $color-text;
        text-align: justify;
        font-size: 18px;
        padding: 10px;
        font-family: $text;
    }
}