// MEDIA INDEX 

@media screen and (min-width: 480px) {

    .flex-index {
        flex-direction: column;

        img {
            width: 100%;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 35px;

        }

        p {
            font-size: 16px;

        }
    }
}

@media screen and (min-width: 600px) {
    .flex-index {
        flex-direction: row;
        align-items: start;

        img {
            width: 100px;
            height: 1800px;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 18px;
        }
    }
}

@media screen and (min-width: 760px) {
    .flex-index {
        flex-direction: row;

        img {
            width: 150px;
            height: 1600px;
        }

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 860px) {
    .flex-index {
        flex-direction: row;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        img {
            width: 200px;
            height: 1600px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .flex-index {
        flex-direction: row;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 30px;
        }

        img {
            width: 250px;
            height: 1500px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .flex-index {
        flex-direction: row;

        img {
            width: 300px;
            height: 1700px;
        }

        h1 {
            font-size: 45px;
        }

        h2 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }

        ;
    }
}

// MEDIA DISCOGRAFIA

@media screen and (min-width: 600px) {

    .discografia {
        font-size: 35px;
    }

    .inicio-disco {

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 18px;
        }
    }

}

@media screen and (min-width: 1024px) {
    .inicio-disco {

        @include flex-index(row, center, center, 10px);
        text-align: center;

        h2 {
            font-size: 25px;
            padding: 10px;
        }

        h3 {
            font-size: 23px;
        }

        p {
            font-size: 18px;

        }
    }

    .discos {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto;
        grid-template-areas:
            'area1 area2'
            'area3 area4'
            'area5 area6';
        gap: 15px;

    }
}

@media screen and (min-width: 1200px) {

    .discografia {
        font-size: 40px;
    }

    .inicio-disco {
        @include flex-index(row, center, center, 10px);
        gap: 20px;

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 25px;
        }

        p {
            font-size: 20px;

        }
    }

    .discos {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        grid-template-areas:
            'area1 area2 area3'
            'area4 area5 area6';
        gap: 15px;
    }
}

// MEDIAS TOUR

@media screen and (min-width: 600px) {
    .text-tour {
        text-align: center;
        color: $color-text;

        img {
            width: 100%;
            height: 500px;
            object-fit: cover;
        }

        h1 {
            font-size: 35px;
            font-family: $text;
            padding-top: 10px;

        }

        h2 {
            font-size: 25px;
            font-family: $text;
            padding-bottom: 10px;
        }
    }

    .eeuu {
        @include flex-index(column, center, center, 10px);

        h3 {
            color: $color-text;
            font-size: 25px;
            font-family: $text;
            text-align: center;
            background-color: black;
            border-radius: 50px;
            width: 220px;
        }

        h4 {
            color: $color-text;
            font-size: 18px;
            font-family: $text;
            text-align: center;
        }

        a {
            display: block;
            font-weight: 400;
            font-size: 16px;
            border-radius: 10px;
            padding: 5px;
            margin: 5px;
            color: $color-text;
            background-color: black;
            font-family: $text;
        }

        a:hover {
            background-color: transparent;
            border: 2px solid #ff00aa;
            color: $color-text;
        }
    }
}

//MEDIA GALERIA

@media screen and (min-width: 480px) {

    .h2-galeria {
        width: 300px;
    }

    .grilla {
        grid-template-columns: repeat(1, 400px);
    }

    .grilla2 {

        h3 {
            font-size: 18px;
            width: 400px;
        }

        iframe {
            width: 400px;
        }
    }

    .grilla3 {


        h3 {
            font-size: 18px;
            width: 400px;
        }

        iframe {
            width: 400px;
        }
    }
}

@media screen and (min-width: 600px) {

    .h1-galeria {
        font-size: 40px;
    }

    .h2-galeria {
        width: 520px;
        font-size: 23px;
    }

    .grilla {

        grid-template-columns: repeat(2, 280px);
        grid-template-areas:
            'area1 area2'
            'area3 area4'
            'area5 area6'
        ;
        gap: 10px;
    }

    .grilla2 {


        h3 {
            font-size: 24px;
            width: 500px;
        }

        iframe {
            width: 500px;
        }
    }

    .grilla3 {

        h3 {
            font-size: 24px;
            width: 500px;
        }

        iframe {
            width: 500px;
        }
    }
}

@media screen and (min-width: 760px) {
    .grilla {

        grid-template-columns: repeat(2, 350px);
        gap: 10px;
    }
}

@media screen and (min-width: 1024px) {

    .h1-galeria {
        font-size: 45px;
    }

    .h2-galeria {
        width: 520px;
        font-size: 23px;
    }

    .grilla {
        display: grid;
        grid-template-columns: repeat(2, 450px);
        gap: 10px;
    }

    .grilla2 {



        h3 {
            font-size: 26px;
            width: 600px;
        }

        iframe {
            width: 600px;
        }
    }

    .grilla3 {


        h3 {
            font-size: 26px;
            width: 600px;
        }

        iframe {
            width: 600px;
        }
    }
}

@media screen and (min-width: 1200px) {

    .h1-galeria {
        font-size: 40px;
    }

    .h2-galeria {
        width: 520px;
        font-size: 23px;
    }


    .grilla {
        grid-template-columns: repeat(3, 350px);
        grid-template-areas:
            'area1 area2 area3'
            'area4 area5 area6'
        ;
    }


    .grilla2 {
        @include flex-index(row, center, center, 10px);
        padding: 10px;

        h3 {
            font-size: 24px;
            width: 350px;
        }

        iframe {
            width: 350px;
        }
    }

    .grilla3 {
        @include flex-index(row, center, center, 10px);
        padding: 10px;

        h3 {
            font-size: 24px;
            color: $color-text;
            text-align: center;
            background-color: black;
            border-radius: 10px;
            width: 350px;
        }

        iframe {
            width: 350px;
        }
    }
}


// MEDIA CONTACTO

@media screen and (min-width: 600px) {

    .sec-contacto {

        h1 {
            font-size: 35px;
        }

        p {
            font-size: 22px;
        }
    }

    .form-register {
        width: 500px;
    }
}


@media screen and (min-width: 1024px) {

    .sec-contacto {

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 23px;
        }
    }

    .form-register {
        width: 700px;
    }
}

@media screen and (min-width: 1200px) {

    .sec-contacto {

        h1 {
            font-size: 36px;
        }

        p {
            font-size: 25px;
        }
    }

    .form-register {
        width: 900px;
    }

}