.text-tour {
    text-align: center;
    color: $color-text;
    
    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    h1 {
        font-size: 30px;
        font-family: $text;
        padding-top: 10px;

    }

    h2 {
        font-size: 25px;
        font-family: $text;
        padding-bottom: 10px;
    }
}

.eeuu {
    @include flex-index(column, center, center, 10px);

    h3 {
        color: $color-text;
        font-size: 25px;
        font-family: $text;
        text-align: center;
        background-color: black;
        border-radius: 50px;
        width: 220px;
    }

    h4 {
        color: $color-text;
        font-size: 18px;
        font-family: $text;
        text-align: center;
    }

    a {
        display: block;
        font-weight: 400;
        font-size: 16px;
        border-radius: 10px;
        padding: 5px;
        margin: 5px;
        color: $color-text;
        background-color: black;
        font-family: $text;
    }

    a:hover {
        background-color: transparent;
        border: 2px solid #ff00aa;
        color: $color-text;
    }
}